<section class="container">
    <h2 class="header">Lorem ipsum creation timelines</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio iusto hic aliquid ad molestias. Deserunt nam iure,
        ratione praesentium sit, in ipsum nemo excepturi sequi perferendis temporibus perspiciatis asperiores
        labore?Molestias dolor qui explicabo quia aperiam architecto atque consectetur placeat, quos, minima accusantium
        voluptate pariatur nam. Similique repudiandae provident rem, voluptas nisi distinctio enim? Architecto, iure
        unde. Neque, soluta? Quibusdam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus odit id vel saepe, explicabo unde aspernatur
        maxime nostrum nobis praesentium veniam dolores quia suscipit nisi molestias animi blanditiis cum vero.
        Consequuntur voluptatem aliquid temporibus officiis optio atque ipsa quaerat saepe, provident, facilis, at quasi
        nobis placeat omnis. Quis, quasi eum amet corporis inventore alias, cum consectetur vero provident culpa enim?
        Delectus aliquam libero esse assumenda debitis dolorum mollitia blanditiis et cumque iure laudantium, facere
        itaque? Accusantium minima, repellendus qui deleniti quia itaque neque, doloremque ducimus praesentium amet ab
        obcaecati enim.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, maiores vel natus provident itaque similique
        mollitia ullam, ipsa accusantium architecto praesentium laborum rerum fuga quod esse aperiam magni tempora
        quam.Officia illum, ex nisi, vero eligendi deleniti consequatur voluptatum doloremque aperiam, earum dignissimos
        nesciunt reprehenderit veniam cumque cum unde ad ipsum laborum aliquid quam? Voluptatem ab rerum doloremque
        aliquam temporibus.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus aliquid beatae quibusdam repellendus,
        aspernatur, possimus hic suscipit iure, saepe tempora necessitatibus. Nihil quidem cum maiores incidunt dolorum
        nisi perspiciatis error?
        Perspiciatis id fuga, necessitatibus eaque deserunt asperiores vero? Iusto perspiciatis doloribus beatae eius,
        quia tempora possimus officiis aperiam quaerat voluptas minus accusamus vero asperiores cupiditate cum a quasi
        incidunt repellendus!
        Odit, sed explicabo a illo eius sunt laborum sit deleniti laudantium quis odio neque ullam? Excepturi obcaecati
        consequuntur voluptatum ex iusto quibusdam, ipsa sint ea eius maiores reiciendis velit ratione?
        Nobis rerum atque sed ipsam sint debitis saepe consectetur dolores autem quos, tempore fugiat sequi! Obcaecati
        cupiditate architecto quibusdam est. Cum dolore eius, sint minus fugit velit dignissimos unde corrupti!</p>
</section>